html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}

.App {
  text-align: center;
  background-color: #222;
  overflow-x: hidden;
}

@media only screen and (max-width: 700px) {
	.App-splashscreen {
		background-position-x: -45px;
	}

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-family: "Corbert Condensed Italic";
}

/* Scrollbar size */
::-webkit-scrollbar {
    width: 5px; /* To change vertical scrollbar width */
    height: 5px; /* To change horizontal scrollbar height */
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #3d3d42;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5d5d5d;
}
::-webkit-scrollbar-thumb:hover{
    background: #868686;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}


.App-pages {
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.App-page {
	width: 100%;
  height: 100vh;
  background: url("background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.App-welcomescreen {
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
    width: 400px;
    color: white;
    border: 1px solid white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App-content {
	padding: 25px;
  background: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
}


.LandingLinks-page .App-splashscreen {
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 100;
  position: fixed;
}

.App-logo {
  background: url('./saddie.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block
}

.Landing-links {
  display: flex;
  flex-direction: column;
}
.Landing-link {
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Landing-link .icon {
  padding-right: 5px;
}
.Landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Landing-title h2 {
  padding: 10px 0px;
}

.onlyfans-icon {
  background: url('./onlyfans.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.Landing-contact {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Landing-contact a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
