 @import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

* {
  box-sizing: border-box;
}

* {
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}

.App {
  text-align: center;
  background-color: #222;
  overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #270483;
}

button {
  cursor: pointer;
}
/* Scrollbar size */
::-webkit-scrollbar {
    width: 5px; /* To change vertical scrollbar width */
    height: 5px; /* To change horizontal scrollbar height */
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #3d3d42;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5d5d5d;
}
::-webkit-scrollbar-thumb:hover{
    background: #868686;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
/*
  Animation CSS
  -------------
*/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .6;
    }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.App-page {
  height: 100vh;
  background: url("new_background3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: top;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.App-content {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-background {
  position: absolute;
  background: url('./space.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -100;
  animation: glitch 7s infinite;
  opacity: 0;
}

@keyframes glitch {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: .2;
    }
    98% {
        opacity: .2;
    }
    99% {
        opacity: .2;
    }
    100% {
        opacity: 0;
    }
}

.Landing-letter {
  background: rgb(172, 59, 124);
  margin: 0 auto;
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 100px;
  border: 5px solid rgb(8, 5, 109);
  outline: 5px solid #32CD32;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
  position: relative;
}
.Landing-letter * {
  padding-bottom: 10px;
  color: white;
  font-family: 'Leckerli One', cursive;
  font-size: 14px;
  text-align: center;
  width: 100%;
  animation: fadeInAnimation2 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Landing-letter p:first-of-type,
.Landing-letter p:first-of-type::after {
  display: block;
  color: #32CD32;
  font-size: 18px;
  text-align: left !important;
}
.Landing-letter p:last-of-type,
.Landing-letter p:last-of-type::after {
  display: block;
  color: #32CD32;
  font-size: 18px;
  text-align: right !important;
}

.Landing-letter p:first-of-type::after,
.Landing-letter p:last-of-type::after {
  margin-top: -25px;
}

.Landing-collab,
.Landing-aboutme,
.Landing-schedule {
  background: rgb(172, 59, 124);
  margin: 0 auto;
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 100px;
  border: 5px solid rgb(8, 5, 109);
  outline: 5px solid #32CD32;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Landing-schedule strong {
  color: #32CD32;
  font-size: 14px !important;
}
.Landing-schedule em strong {
  color: white;
  font-size: 14px !important;
}
.Landing-collab h1,
.Landing-aboutme h1,
.Landing-schedule h1 {
  font-family: 'Leckerli One', cursive;
}
.Landing-schedule p {
  padding-bottom: 10px;
  font-family: 'Leckerli One', cursive;
  font-size: 16px;
  text-align: left;
  width: 100%;
}
.Landing-schedule p {
  animation: fadeInAnimation2 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.Landing-main {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.Top-menu {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.Landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  padding-top: 25px;
  padding-left: 10px;
}
.Landing-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.Landing-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  font-size: 16px;
  padding: 10px;
  color: white;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a, a::after {
  width: auto;
  height: 50px;
  border: 2px solid rgba(8, 5, 109, .6);
  font-family: 'Leckerli One', cursive;
  font-size: 16px;
  background: linear-gradient(45deg, transparent 5%, #ac3b7c 5%);
  border: 0;
  color: #fff;
  padding-left: 25px !important;
  padding-right: 25px !important;
  box-shadow: 6px 0px 0px #32CD32;
  outline: transparent;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.onlyfans-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.onlyfans-button::after {
  content: "   Only Fans";
}
.insta-button::after {
  content: "   Instagram";
}
.twitter-button::after {
  content: "   Twitter";
}
.tiktok-button::after {
  content: "   TikTok";
}
.schedule-button::after {
  content: "   Schedule";
}
.contact-button::after {
  content: "   Contact";
}
.video-button::after {
  content: "   Watch Video";
}
.aboutme-button::after {
  content: "   About Me";
}
.amazon-button::after {
  content: "   Buy Me Shit";
}
h1::after {
  content: attr(data);
}
p::after {
  width: 650px;
  content: attr(data);
  font-size: 14px;
}
.Landing-letter p::after {
  margin-top: -100px;
}

.Landing-schedule h1::after {
  margin-top: -30px;
}
.Landing-schedule p::after {
  margin-top: -30px;
  width: 650px;
  max-width: 650px;
  max-height: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

h1::after,
a::after,
p::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid rgba(8, 5, 109, .6);
  background: linear-gradient(45deg, transparent 3%, #08056d 3%, #ac3b7c 5%, #ac3b7c 5%);
  text-shadow: -3px -3px 0px #ac3b7c, 3px 3px 0px #08056d;
  clip-path: var(--slice-0);
}
h1:hover::after,
a:hover::after,
p:hover::after {
  animation: 1s glitch2;
  animation-timing-function: steps(2, end);
}

@keyframes glitch2 {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Icons CSS */
.icon {
  margin-right: 5px;
}
.onlyfans-icon {
  background: url('./onlyfans.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}


/* Age Warning Question Page CSS */
.ageVerificationContainer {
  width: 100%;
  height: 100%;
  background: url('./test.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ageVerification {
  padding-top: 200px;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  font-family: 'Leckerli One', cursive;
  font-size: 36px;
  color: white;
}
.ageVerificationQuestion {
  text-align: center;
}
.ageVerificationAnswers {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}
.ageVerificationAnswer {
  cursor: pointer;
  font-family: 'Leckerli One', cursive;
  font-size: 36px;
  background: none;
  border: none;
  color: white;
}
.bye {
  width: 100%;
  height: 100%;
  background: url('./off.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.byemessage {
  padding-top: 200px;
  width: 300px;
  margin: 0 auto;
  color: white;
  font-size: 24px;
}
/*
  Internal Nav CSS
*/
.Landing-page-nav {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  width: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Landing-page-nav a {
  width: 200px;
  border: 1px solid #32CD32;
  background: rgb(172, 59, 124);
  color: white;
  font-family: 'Leckerli One', cursive;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
  box-shadow: 6px 0px 0px #32CD32;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Landing-page-nav a::after {
  border: none;
}
/*
  Beginning Video CSS
  -------------------
*/
.App-video {
  height: 100%;
  width: 100%;
}

.App-video video {
  height: 100%;
  width: 100%;
  background-color: black;
}
/*
  Top-bar (logo and external links) CSS
  ---------------------
*/
@keyframes App-logo-container-anim-1 {
  0% {
    clip: rect(249px, 250px, 112px, 0);
  }
  2.22222% {
    clip: rect(42px, 250px, 181px, 0);
  }
  4.44444% {
    clip: rect(193px, 250px, 147px, 0);
  }
  6.66667% {
    clip: rect(148px, 250px, 181px, 0);
  }
  8.88889% {
    clip: rect(213px, 250px, 191px, 0);
  }
  11.11111% {
    clip: rect(11px, 250px, 107px, 0);
  }
  13.33333% {
    clip: rect(216px, 250px, 41px, 0);
  }
  15.55556% {
    clip: rect(183px, 250px, 191px, 0);
  }
  17.77778% {
    clip: rect(155px, 250px, 230px, 0);
  }
  20% {
    clip: rect(220px, 250px, 48px, 0);
  }
  22.22222% {
    clip: rect(251px, 250px, 149px, 0);
  }
  24.44444% {
    clip: rect(159px, 250px, 25px, 0);
  }
  26.66667% {
    clip: rect(132px, 250px, 254px, 0);
  }
  28.88889% {
    clip: rect(77px, 250px, 159px, 0);
  }
  31.11111% {
    clip: rect(161px, 250px, 253px, 0);
  }
  33.33333% {
    clip: rect(42px, 250px, 188px, 0);
  }
  35.55556% {
    clip: rect(172px, 250px, 64px, 0);
  }
  37.77778% {
    clip: rect(57px, 250px, 90px, 0);
  }
  40% {
    clip: rect(135px, 250px, 111px, 0);
  }
  42.22222% {
    clip: rect(36px, 250px, 89px, 0);
  }
  44.44444% {
    clip: rect(94px, 250px, 94px, 0);
  }
  46.66667% {
    clip: rect(232px, 250px, 35px, 0);
  }
  48.88889% {
    clip: rect(162px, 250px, 197px, 0);
  }
  51.11111% {
    clip: rect(21px, 250px, 145px, 0);
  }
  53.33333% {
    clip: rect(99px, 250px, 123px, 0);
  }
  55.55556% {
    clip: rect(117px, 250px, 80px, 0);
  }
  57.77778% {
    clip: rect(138px, 250px, 46px, 0);
  }
  60% {
    clip: rect(195px, 250px, 194px, 0);
  }
  62.22222% {
    clip: rect(209px, 250px, 206px, 0);
  }
  64.44444% {
    clip: rect(81px, 250px, 89px, 0);
  }
  66.66667% {
    clip: rect(157px, 250px, 116px, 0);
  }
  68.88889% {
    clip: rect(60px, 250px, 120px, 0);
  }
  71.11111% {
    clip: rect(201px, 250px, 75px, 0);
  }
  73.33333% {
    clip: rect(62px, 250px, 143px, 0);
  }
  75.55556% {
    clip: rect(16px, 250px, 161px, 0);
  }
  77.77778% {
    clip: rect(126px, 250px, 108px, 0);
  }
  80% {
    clip: rect(193px, 250px, 7px, 0);
  }
  82.22222% {
    clip: rect(142px, 250px, 169px, 0);
  }
  84.44444% {
    clip: rect(238px, 250px, 80px, 0);
  }
  86.66667% {
    clip: rect(102px, 250px, 223px, 0);
  }
  88.88889% {
    clip: rect(174px, 250px, 143px, 0);
  }
  91.11111% {
    clip: rect(80px, 250px, 14px, 0);
  }
  93.33333% {
    clip: rect(109px, 250px, 79px, 0);
  }
  95.55556% {
    clip: rect(135px, 250px, 24px, 0);
  }
  97.77778% {
    clip: rect(225px, 250px, 81px, 0);
  }
  100% {
    clip: rect(22px, 250px, 119px, 0);
  }
}
@keyframes App-logo-container-anim-2 {
  0% {
    clip: rect(99px, 250px, 191px, 0);
  }
  2.22222% {
    clip: rect(111px, 250px, 89px, 0);
  }
  4.44444% {
    clip: rect(211px, 250px, 159px, 0);
  }
  6.66667% {
    clip: rect(202px, 250px, 249px, 0);
  }
  8.88889% {
    clip: rect(30px, 250px, 221px, 0);
  }
  11.11111% {
    clip: rect(226px, 250px, 183px, 0);
  }
  13.33333% {
    clip: rect(32px, 250px, 79px, 0);
  }
  15.55556% {
    clip: rect(177px, 250px, 191px, 0);
  }
  17.77778% {
    clip: rect(237px, 250px, 143px, 0);
  }
  20% {
    clip: rect(113px, 250px, 222px, 0);
  }
  22.22222% {
    clip: rect(185px, 250px, 151px, 0);
  }
  24.44444% {
    clip: rect(216px, 250px, 44px, 0);
  }
  26.66667% {
    clip: rect(35px, 250px, 190px, 0);
  }
  28.88889% {
    clip: rect(166px, 250px, 80px, 0);
  }
  31.11111% {
    clip: rect(180px, 250px, 14px, 0);
  }
  33.33333% {
    clip: rect(47px, 250px, 105px, 0);
  }
  35.55556% {
    clip: rect(190px, 250px, 23px, 0);
  }
  37.77778% {
    clip: rect(131px, 250px, 6px, 0);
  }
  40% {
    clip: rect(34px, 250px, 146px, 0);
  }
  42.22222% {
    clip: rect(243px, 250px, 4px, 0);
  }
  44.44444% {
    clip: rect(158px, 250px, 20px, 0);
  }
  46.66667% {
    clip: rect(107px, 250px, 153px, 0);
  }
  48.88889% {
    clip: rect(22px, 250px, 193px, 0);
  }
  51.11111% {
    clip: rect(217px, 250px, 135px, 0);
  }
  53.33333% {
    clip: rect(136px, 250px, 17px, 0);
  }
  55.55556% {
    clip: rect(68px, 250px, 71px, 0);
  }
  57.77778% {
    clip: rect(105px, 250px, 42px, 0);
  }
  60% {
    clip: rect(145px, 250px, 68px, 0);
  }
  62.22222% {
    clip: rect(101px, 250px, 57px, 0);
  }
  64.44444% {
    clip: rect(59px, 250px, 47px, 0);
  }
  66.66667% {
    clip: rect(225px, 250px, 162px, 0);
  }
  68.88889% {
    clip: rect(145px, 250px, 99px, 0);
  }
  71.11111% {
    clip: rect(204px, 250px, 72px, 0);
  }
  73.33333% {
    clip: rect(134px, 250px, 212px, 0);
  }
  75.55556% {
    clip: rect(82px, 250px, 6px, 0);
  }
  77.77778% {
    clip: rect(47px, 250px, 212px, 0);
  }
  80% {
    clip: rect(109px, 250px, 111px, 0);
  }
  82.22222% {
    clip: rect(1px, 250px, 79px, 0);
  }
  84.44444% {
    clip: rect(11px, 250px, 233px, 0);
  }
  86.66667% {
    clip: rect(144px, 250px, 155px, 0);
  }
  88.88889% {
    clip: rect(52px, 250px, 42px, 0);
  }
  91.11111% {
    clip: rect(66px, 250px, 46px, 0);
  }
  93.33333% {
    clip: rect(61px, 250px, 86px, 0);
  }
  95.55556% {
    clip: rect(220px, 250px, 34px, 0);
  }
  97.77778% {
    clip: rect(63px, 250px, 31px, 0);
  }
  100% {
    clip: rect(220px, 250px, 62px, 0);
  }
}

.App-logo {
  height: 200px;
  width: 200px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.App-logo-container {
  height: 200px;
  width: 200px;
  position: relative;
}

.App-logo-container:hover .App-logo-glitch{
  display: block;
}
.App-logo-container .App-logo-glitch {
  opacity: .7;
  transform: translate(-100px, -100px);
  position: absolute;
  display: none;
  height: 200px;
  width: 200px;
  top: 100px;
  margin-left: 100px;
}
.App-logo-container > img:nth-child(2),
.App-logo-container > img:nth-child(3),
.App-logo-container > img:nth-child(4){
  clip: rect(0, 0, 0, 0);
}
.App-logo-container > img:nth-child(2) {
  left: -2%;
  animation: App-logo-container-anim-1 2s infinite linear alternate-reverse;
}
.App-logo-container > img:nth-child(3) {
  left: 4%;
  animation: App-logo-container-anim-2 3s infinite linear alternate-reverse;
}
.App-logo-container > img:nth-child(4) {
  left: 2%;
  animation: App-logo-container-anim-2 4s infinite linear alternate-reverse;
}
/*
  Mobile Burger Menu CSS
  ---------------------
*/

.Mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #32CD32;
  background: rgb(172, 59, 124);
  height: 100%;
  z-index: 4;
  width: 300px;
  transition: 0.5s;
}

.Mobile-menu-closed {
  width: 0px;
}
.Mobile-menu-closed * {
  display: none !important;
}
.Mobile-button {
  display: none;
  position: fixed;
  top: 25px;
  left: 25px;
  background: transparent;
  color: white;
  border: none;
}

.Mobile-button .icon {
  height: 25px;
  width: 25px;
}

.close-button {
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
}
.close-button .icon {
  height: 25px;
  width: 25px;
}
.Mobile-menu-nav {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.Mobile-menu-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mobile-menu-nav a:hover {
  opacity: .6;
}
/*
  Responsive Mobile CSS
  ---------------------
*/

@media only screen and (max-width: 1200px) {
  #myVideo {
    transform: scale(1.5);
  }
  .Mobile-button {
    display: block;
  }

  .Landing-container {
    display: none;
  }

  .Landing-page-nav {
    display: none;
  }
  .App-logo {
    height: 100px;
    width: 100px;
  }
  .App-logo-container {
    height: 100px;
    width: 100px;
  }
  .Top-menu {
    justify-content: flex-end;
  }
  .Top-menu {
    min-width: 0px;
  }
  .App-logo-container .App-logo-glitch {
    height: 100px;
    width: 100px;
  }

  .App-page {
    background-position: left center;
  }
}
@media only screen and (max-width: 640px) {
  #myVideo {
    transform: scale(3);
  }
}

@media only screen and (max-width: 640px) {
	.App-page {
    background: url("background_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	}
}
@media only screen and (max-width: 1400px) and (max-height: 800px) {
  .nav-left {
    position: absolute;
    left: 25px;
    bottom: 0px;
    flex-direction: column;
    height: 150px;
  }

  .nav-right {
    position: absolute;
    right: 25px;
    bottom: 0px;
    height: 150px;
    flex-direction: column;
  }

}
@media only screen and (min-width: 1401px) and (max-height: 800px) {
  .nav-left {
    position: absolute;
    left: 100px;
    bottom: 0px;
    flex-direction: column;
    height: 150px;
  }

  .nav-right {
    position: absolute;
    right: 100px;
    bottom: 0px;
    height: 150px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
	.App-splashscreen {
		background-position-x: -45px;
	}

  .App-page {
      overflow-x: scroll;
      overflow-y: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .Landing-letter {
    top: 0;
    left: 0;
    bottom: 0px;
    max-height: 75vh;
    max-width: 100%;
  }

  .Landing-schedule {
    top: 0;
    left: 0;
    bottom: 0px;
    max-height: 75vh;
    max-width: 100%;
  }
}

@media only screen and (max-height: 700px) {
  .App-page {
      overflow-x: scroll;
  }
}
/* IOS CSS */
@supports (-webkit-touch-callout: none) {
   #myVideo {
     transform: scale(3);
     margin-left: 0px;
     margin-top: -7vh;
     margin-right: 0px;
   }
}
